<div class="container" align="center">
  <div class="row">
    <div class="col-6 offset-3">
<h1>Bienvenido a Mascotaamiga</h1>
 
<form (submit)="menuAdministrador()" #formu="ngForm">
<br/>
<div align="left">
<label for="username">Usuario:</label>
</div>
<input class="form-control" type="text" autocomplete="off" name="username" id="username" required 
                    maxlength="6" [(ngModel)]="usuario.username" #username="ngModel">

  <div class="alert alert-danger" *ngIf="username.invalid && (username.dirty || username.touched)">
      <div *ngIf="username.errors.required">
      El usuario es obligatorio
      </div>
      <div *ngIf="username.errors.maxlength">
        No puede contener más de 6 caracteres
    </div>
    <div *ngIf="username.errors.validaUsername">
      {{username.errors.validaUsername.message}}
    </div>
  </div>
  <div align="left">
  <label for="password">Contraseña:</label>
  </div>
  <input class="form-control" type="password" autocomplete="off" name="password" id="password" 
            minlength="6" maxlength="12" required [(ngModel)]="usuario.password" #password="ngModel">
  <div class="alert alert-success" *ngIf="password.invalid && (password.dirty || password.touched)">
    <div *ngIf="password.errors.required">
        La contraseña es obligatoria
    </div>  
    <div *ngIf="password.errors.minlength">
        Debe contener al menos 6 caracteres
    </div>
    <div *ngIf="password.errors.minlength">
        No puede contener más de 12 caracteres
    </div>
  </div>
  <br/>
  <div align="center">
    <button class="btn btn-primary mr-3" type="submmit" [disabled]="!formu.form.valid">Entrar</button>
    <button class="btn btn-secondary" type="reset">Borrar pantalla</button>
  </div>
</form>

</div>
</div>
</div>
<br/>
<div align="center">
<img src="../../assets/img/Mascota_amiga2.jpg" width="600" height="345">
</div>
<router-outlet></router-outlet>