<div class="container" align="center">
    <div class="row">
      <div class="col-6 offset-3">
<h1>MENU ADMINISTRADOR</h1>
<br/>
<div align="left">
<h3>Mantenimiento de usuarios:</h3>
<button class="btn btn-primary mr-3" (click)="altaUsuario()">ALTA</button>
<button class="btn btn-danger mr-3" (click)="bajaUsuario()">BAJA</button>
<button class="btn btn-warning mr-3" (click)="modifUsuario()">MODIFICACIÓN</button>
<button class="btn btn-success" (click)="listUsuario()">LISTADO DATOS USUARIO</button>
<br/>
<br/>
<br/>
<h3>Mantenimiento de mascotas:</h3>
<button class="btn btn-primary mr-3" (click)="altaMascota()">ALTA DE NUEVA MASCOTA</button> 
<button class="btn btn-warning mr-3" (click)="modifMascota()">MODIFICACION DATOS DE MASCOTA</button><br/>
</div>
</div>
</div>
</div>
<div align="center">
<img src="../../assets/img/Mascota_amiga4.jpg" width="600" height="345">
</div>
