<!-- 
<app-listado>
</app-listado> 
--> 
<div class="container" align="center">
    <div class="row">
      <div class="col-6 offset-3">
<h1>MENU ADMINISTRADOR</h1>
<br/>
<h3>Mantenimiento de usuarios:</h3>
<button (click)="altaUsuario()">Alta de nuevo usuario en la aplicación</button><br/>
<button (click)="bajaUsuario()">Baja de usuario en la aplicación</button><br/>
<button (click)="modifUsuario()">Modificación de datos de un usuario</button><br/>
<button (click)="listUsuario()">Listar todos los datos de un usuario</button>
<br/>
<br/>
<h3>Mantenimiento de mascotas:</h3>
<button (click)="altaMascota()">Alta de mascota</button><br/>
<button (click)="modifMascota()">Modificación de datos de una mascota</button><br/>
</div>
</div>
</div>
<div align="center">
<img src="../../assets/img/Mascota_amiga4.jpg" width="600" height="345">
</div>

<router-outlet></router-outlet>